/* .formtag input{
    margin: 15px;
} */
.formtag{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.login-box{
    text-align: center;
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.438);
    padding:  10px;
    border-radius: 12px;
    margin: 5px;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-family: "Madimi One", sans-serif;
}
#hr-login{
        width: 80%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.438);
        margin: 25px;
}
#btn-login{
    border-radius: 10px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    background: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm00MjItMDczLWt6cGhnMjR1LmpwZw.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.inpfield{
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    font-family: "Madimi One", sans-serif;
    font-size: medium !important;
}

#XD{
    margin: 0 70px 15px 0;
    
}

#XD:hover{
    color: rgb(38, 38, 132);
    cursor: pointer !important;
}
.headmaster{
    position: absolute!important;
    top: 0;
}