.formtag input{
    margin: 15px;
}
.login-box{
    text-align: center;
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.438);
    padding:  10px;
    border-radius: 12px;
    margin: 5px;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-family: "Madimi One", sans-serif;
}
#hr-login{
        width: 80%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.438);
        margin: 25px;
}
#btn-login{
    border-radius: 10px;
}