body {
    margin: 0;
    background: black;
}
#display {
    width: 100vw;height: 100vh;
    display: flex;
    align-items: center;justify-content: center;
    z-index: 2;
    transition: 1s all;
    /* display: none; */
}
#displaytwo {
    position: absolute;
    width: 20rem;height: 20rem;
    left: 1020px;top: 520px;
    cursor: pointer;
}
#rose {
    /* cursor: pointer; */
    opacity: 30%;
}
canvas {
    position: absolute;
}
#canvas {
    transition: 1s all;
    opacity: 0%;
}
#canvas2 {
    transition: 1s all;
    opacity: 0%;
    filter: blur(1px);
}
#canvas3 {
    transition: 1s all;
    opacity: 0%;
}
@keyframes rose {
    0% {}
    12% {opacity: 0%;}
    12.5% {display: none;}
    25% {}
    37.5% {}
    50% {}
    62.5% {}
    75% {}
    87.5% {}
    100% {display: none;}
}
@keyframes canvas1 {
    0% {display: block;}
    12.5% {opacity: 0%;}
    25% {opacity: 30%;}
    37.5% {opacity: 100%;}
    50% {}
    62.5% {}
    75% {}
    87.5% {}
    100% {opacity: 100%;}
}
@keyframes canvas2 {
    0% {}
    12.5% {}
    25% {}
    37.5% {}
    50% {opacity: 0%;}
    62.5% {opacity: 100%;}
    75% {}
    87.5% {}
    100% {opacity: 100%;}
}
@keyframes canvas3 {
    0% {}
    12.5% {}
    25% {}
    37.5% {}
    50% {}
    62.5% {}
    75% {opacity: 0%;}
    87.5% {}
    100% {opacity: 40%;}
}
@keyframes canvas4 {
    0% {}
    12.5% {}
    25% {}
    37.5% {}
    50% {}
    62.5% {}
    75% {opacity: 0%;}
    87.5% {}
    100% {opacity: 40%;}
}
@keyframes box {
    0% {}
    99% {z-index: 4;}
    100% {z-index: 4;}
}