:root{
    --text : #333333;
    --bg : #25162b;
}
*{
    margin: 0;padding: 0;
    font-family: "Bebas Neue", sans-serif;
}
body{
    transition: 1s all;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--bg);
    color: var(--text);
    overflow: hidden;
}
.anime-container{
    display: grid;
    grid-template-rows: 0.5fr 5.5fr 1.5fr;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, transparent, #151B20, transparent);
}
.main-container:nth-child(1){
    transition: 0.2s all;
    background-color: #00000038;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2em;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.main-container:nth-child(2){
    display: grid;
    grid-template-columns: 1.5fr 3fr;
}
.main-container:nth-child(3){
    transition: 1s all;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    mix-blend-mode: difference;
    overflow: hidden;
}

.sub-image-container{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 50%;
    transition: 0.5s all;
    /* bottom: 0; */
}
.sub-image-container img{
    width: 6.8em;
    margin: 0 2em;
    height: auto;
    transition: 0.5s all;
    opacity: 30%;
    border-radius: 20px;
    transform: rotateY(180deg);
    filter: saturate(0%);
}
.sub-image-container .selected-image{
    transform-origin: bottom;
    transform: scale(1.35) rotateZ(6deg) rotateY(380deg);
    opacity: 100%;
    filter: saturate(100%);
}


.changed{
    animation: fader 0.5s forwards;
}
.changedOne{
    animation: faderOne 0.5s forwards;
}
.event-less{
    pointer-events: none;
}



.left-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 1.5em;
}
.div-container{
    display: flex;
    flex-direction: row;
    align-items: end;
}
.number-div{
    display: flex;
    z-index: 1;
    width: 14.5em;
    height: 20em;
}
.number-div span{
    font-size: 18em;
    text-align: center;
    font-weight: bolder;
}
.img-div{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
.img-div img{
    height: 29.9em;
    border-radius: 20px;
}
.name-div{
    z-index: 1;
    display: flex;
    overflow: hidden;
}
.name-div span{
    font-size: 3.5em;
    text-align: center;
    line-height: 1em;
    letter-spacing: -0.03em;
}
.right-container{
    display: grid;
    font-size: 1.6em;
    padding-right: 1em;
    position: relative;
}
.sub-container{
    position: relative;
}
.watch-dates{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.anime-information{
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}
.button-containers{
    position: absolute;
    bottom: 0;
    display: flex;
    background: #151b209f;
    gap: 8em;
    border-radius: 50px;
    transition: 1s all;
}
.button{
    color: var(--text);
    border: none;
    background: transparent;
    padding: 0 0.5em;
    transition: 1s all;
    font-size: 2em;
    font-weight: bolder;
    height: 2em;
    cursor: pointer;
}



@keyframes fader {
    0% {
        opacity: 100%;
    }
    40% {
        opacity: 0%;
        transform: translateX(-10em);
    }
    60% {
        opacity: 0%;
        transform: translateX(10em);
    }
    100% {
        opacity: 100%;
        transform: translateX(0em);
    }
}
@keyframes faderOne {
    0% {
        opacity: 100%;
    }
    40% {
        opacity: 0%;
        transform: translateX(10em);
    }
    60% {
        opacity: 0%;
        transform: translateX(-10em);
    }
    100% {
        opacity: 100%;
        transform: translateX(0em);
    }
}


#homme-container{
    position: absolute;
    font-size: 10em;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s all;
    opacity: 100%;
}
.upper-toggle{
    transition: 1s all;
    transform: translateY(-100%);
}
.lower-toggle{
    transform: translateY(100%);
    opacity: 0%;
}
.opacity-off{
    opacity: 0%;
    pointer-events: none;
}

#plusses{
    /* position: absolute; */
    font-size: 20em;
    margin-top: -0.3em;
    margin-bottom: -1.2em;
    margin-right: 0.7em;
    font-weight: bolder;
    animation: spinner 0.5s infinite linear;
}
#pluss{
    position: absolute;
    font-size: 13em;
    right: 0.5em;
    top: -0.25em;
}
@keyframes spinner {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

@media (max-width:1366px){
    h1{
        font-size: 1.9em;
        letter-spacing: 1em;
    }
    .number-div{
        height: 20em;
        font-size: 0.8em;
    }
    .img-div img{
        width: 17em;
        height: auto;
    }
    .name-div span{
        font-size: 3em;
    }
    #plusses{
        font-size: 15em;
    }
    .right-container{
        font-size: 1.2em;
    }
    .sub-image-container img{
        width: 5em;
        margin: 0 3em;
    }
    .button-containers{
        font-size: 0.8em;
    }
}
@media (max-width: 720px){
    h1{
        font-size: 2em;
        text-align: center;
        letter-spacing: 0.5em;
    }
    .main-container:nth-child(2){
        display: flex;
        flex-direction: column;
    }
    .left-container{
        width: 60%;
        padding: 1em;
    }
    #pluss, #plusses{
        display: none;
    }
    .right-container{
        display: flex;
        flex-direction: column;
        margin-top: -10em;
        padding: 1em;
    }
    .watch-dates{
        align-items: end;
    }
    .number-div{
        height: 20em;
        font-size: 0.5em;
    }
    .img-div img{
        width: 15em;
        height: auto;
    }
    .name-div span{
        font-size: 3em;
    }
}