body {
    overflow: hidden;
    padding: 0;margin: 0;
    transition: 5s width;
    transform: translateY(0vh);
    background-color: #ffe6ea;
}
.port {
    transition: 5s;
}
.shot {
    transform: translateY(-700vh);
    transition: 5s;
}
.screen {
    width: 100vw; height: 100vh;
    display: flex;flex-direction: column;
}
.sone {
    background: linear-gradient(0deg,#151B20,#25162b);
    justify-content: center;align-items: center;
}
.stwo {
    height: 600vh;
    background-image: url(src/bg5.png);background-repeat: none;
}
.bg {
    height: 475vh;width: 100vw;
}

.button {
    border: 1px solid #13001f;border-radius: 25px;
    color: white;background-color: rgb(15, 0, 34);
    cursor: pointer;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
}
.gd {
    width: 100vw;height: 125vh;
    color: #d8e4e4;
    background: linear-gradient(0deg, #ffe6ea, pink);
}

.container {
    position: absolute;
    width: 100vw;height: 100vh;
    overflow: hidden;
}
.cont {
    display: grid;
}
.hearts {
    z-index: 1;
}
.svg{
    opacity: 50%;
    position: absolute;margin-top: 50%;
    stroke: black;stroke-width: 5px;
}
.cont:hover .svg {
    opacity: 100%;
}
.s1 {
    transition: 3s;
}
.s2 {
    transition: 2s;
}
.s3 {
    transition: 2s;
}
.s4 {
    transition: 1s;
}
.s5 {
    transition: 0.5s;
}
.s6 {
    transition: 3s;
}
.s7 {
    transition: 1s;
}
.s8 {
    transition: 0.5s;
}
.s9 {
    transition: 5s;
}
.cont:hover .s1 {
    margin-left: 300px;
    margin-top: 183px;
    rotate: 35deg;
   /* filter: drop-shadow(10px 10px 5px #d3dcde); */
}
.cont:hover .s2 {
    margin-left: 185px;
    margin-top: 490px;
    rotate: 20deg;
    /* filter: drop-shadow(10px 10px 5px #dde5e6); */
}
.cont:hover .s3 {
    margin-left: 450px;
    margin-top: 665px;
    rotate: 38deg;
    /* filter: drop-shadow(10px 10px 5px #67626c); */
}
.cont:hover .s4 {
    margin-left: 420px;
    margin-top: 135px;
    rotate: 11deg;
    /* filter: drop-shadow(10px 10px 5px #a71332); */
}
.cont:hover .s5 {
    margin-left: 350px;
    margin-top: 750px;
    rotate: 355deg;
    /* filter: drop-shadow(10px 10px 5px #a71332); */
}
.cont:hover .s6 {
    margin-left: 500px;
    margin-top: 250px;
    rotate: 50deg;
    /* filter: drop-shadow(10px 10px 5px rgb(87, 9, 22)); */
}
.cont:hover .s7 {
    margin-left: 255px;
    margin-top: 550px;
    rotate: 355deg;
    /* filter: drop-shadow(10px 10px 5px #8e0e28); */
}
.cont:hover .s8 {
    margin-left: 250px;
    margin-top: 275px;
    rotate: 340deg;
    /* filter: drop-shadow(10px 10px 5px #9a112d); */
}
.cont:hover .s9{
    margin-left: 430px;
    margin-top: 380px;
    rotate: 30deg;
    /* filter: drop-shadow(10px 10px 5px #e2ddd9); */
}
.svg {
    opacity: 0%;
}

.cont:hover .text {
    opacity: 100%;
}
.text {
    display: flex;flex-direction: column;
    text-align: center;justify-content: center;
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    opacity: 0%;
    z-index: 2;
}
.t1,.t2,.t3,.t4{
    transition: 1s all;
}
.t1 {
    font-size: 6rem;
    letter-spacing: 100px;
}
.cont:hover .t1 {
    letter-spacing: 50px;
}
.t2 {
    margin-top: 4rem;
    font-size: 10rem;
    letter-spacing: 100px;
}
.cont:hover .t2 {
    letter-spacing: 0;
}
.t3 {
    margin-top: -4rem;
    margin-bottom: 7rem;
    font-size: 10rem;
    letter-spacing: 100px;
}
.cont:hover .t3 {
    letter-spacing: 0;
}


.circle {
    z-index: 1;
    opacity: 100%;
    display: flex;
    align-items: end;justify-content: right;
}
.coloflex {
    display: flex;flex-direction: column;
}
.cir {
    transform-origin: bottom right;
    transform: translateX(60%)translateY(80%);
    stroke: black;stroke-width: 0.5px;
    opacity: 0%;
    z-index: 1;
}
.cont:hover .cir {
    opacity: 100%;
}
.c1 {
    transition: 2s;
}
.cont:hover .c1 {
    scale: 40;
}
.c4 {
    transition: 2s;
}
.cont:hover .c4 {
    scale: 31;
}
.c2 {
    transition: 1.7s;
}
.cont:hover .c2 {
    scale: 25;
}
.c3 {
    transition: 3s;
}
.cont:hover .c3 {
    scale: 20;
}

@media (max-width: 700px){
    .bg {
        height: 2000vh;width: 100vw;
    }
    .text{
        display: flex;
        align-items: center;
        /* display: none; */
    }
    .t1{
        font-size: 3rem;
    }
    .cont:hover .t1 {
        letter-spacing: 20px;
    }
    .t2{
        font-size: 5rem;
    }
    .t3{
        font-size: 5rem;
        margin-top: -2rem;
    }
    .t4{
    position: absolute;
        bottom: 2rem;
    }
    .cir{
        z-index: 2;
        /* display: none; */
    }
    .svg{
        z-index: 1;
    }
    .cont:hover .c1 {
        scale: 25;
    }
    
    .cont:hover .c4 {
        scale: 16;
    }
    
    .cont:hover .c2 {
        scale: 10;
    }
    
    .cont:hover .c3 {
        scale: 5;
    }
    .hearts {
        z-index: 2;
    }
    .cont:hover .s1 {
        margin-left: 240px;
        margin-top: 100px;
        rotate: 35deg;
        z-index: 4;
       /* filter: drop-shadow(10px 10px 5px #d3dcde); */
    }
    .cont:hover .s2 {
        margin-left: 79px;
        margin-top: 180px;
        z-index: 2;
        rotate: 340deg;
        /* filter: drop-shadow(10px 10px 5px #dde5e6); */
    }
    .cont:hover .s3 {
        margin-left: 0;
        margin-top: 665px;
        rotate: 38deg;
        /* filter: drop-shadow(10px 10px 5px #67626c); */
    }
    .cont:hover .s4 {
        margin-left: 250px;
        margin-top: 50px;
        rotate: 11deg;
        /* filter: drop-shadow(10px 10px 5px #a71332); */
    }
    .cont:hover .s5 {
        margin-left: 260px;
        margin-top: 700px;
        rotate: 355deg;
        /* filter: drop-shadow(10px 10px 5px #a71332); */
    }
    .cont:hover .s6 {
        margin-left: 0;
        margin-top: 100px;
        rotate: -30deg;
        /* filter: drop-shadow(10px 10px 5px rgb(87, 9, 22)); */
    }
    .cont:hover .s7 {
        margin-left: 300px;
        margin-top: 650px;
        rotate: 355deg;
        /* filter: drop-shadow(10px 10px 5px #8e0e28); */
    }
    .cont:hover .s8 {
        margin-left: -50px;
        margin-top: 250px;
        rotate: 340deg;
        z-index: 0;
        /* filter: drop-shadow(10px 10px 5px #9a112d); */
    }
    .cont:hover .s9{
        margin-left: 190px;
        margin-top: 300px;
        rotate: 30deg;
        /* filter: drop-shadow(10px 10px 5px #e2ddd9); */
    }
}