body {
    font-family: "Madimi One", sans-serif;
    display: flex;flex-direction: row;
    align-items: center;
    min-height: 100vh;
    color: rgb(104, 104, 104);
    overflow-x: hidden;margin: 0;
    background: linear-gradient(45deg,#25162b, #151B20,#25162b);
}
.rowlectoor {
    margin: 0.5rem;
    display: flex;flex-direction: column;
    justify-content: space-evenly;align-items: center;
    background-color: #00000044;
    border-radius: 0.5rem;
    min-height: 50rem;min-width: 20rem;
    position: absolute;
    gap: 0.2rem;
    z-index: 3;
}
.classlectorr {
    width: 100%;
}
div {
    transition: 1s all;
}
.box {
    display: flex;flex-direction: column;
}
.controlcontainer {
    display: flex;flex-direction: column;
    justify-content: center;align-items: center;
    z-index: 2;
}
.divcontainer {
    display: flex;flex-direction: column;
    justify-content: center;align-items: center;
    gap: 0.5rem;
}
.outer {
    display: flex;
    align-items: center;justify-content: center;
    max-width: 100rem; 
}
.full {
    background-color: #8e8996;
    padding: 1rem;
    border-radius: 0.2rem;
}

input  {
    background-color: black;
    border: none;
    color: rgb(104, 104, 104);
    font-family: "Madimi One", sans-serif;font-size: 1.5rem;
}
.inp {
    width: 3rem;padding: 0.5rem;text-align: center;
    border: 1px gray solid;border-radius: 1rem;
}
button {
    font-size: 1.5rem;color: black;background-color: #2A2139;
    min-width: 13rem;height: 4rem;
    border-radius: 30px;
    cursor: pointer;border: rgba(61, 1, 61, 0.356) 1px solid;
    transition: all 0.2s;
    margin: 0.5rem;
    font-family: "Madimi One", sans-serif;
}
button:hover {
margin: -0.5rem 0.5rem 0.5rem 0.5rem;
scale: 1.05;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}
.controls {
    display: grid;
    grid-template-columns: 4rem 4rem 4rem 4rem;
    grid-template-rows: 2.2rem 2.2rem;
    gap: 0.5rem;
    text-align: center;justify-content: center;
}
.summoner{
    display: none;
}
@media (max-width:700px){
    .summoner{
        transition: 1s all;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotate(45deg);
        min-width: 0;
        width: 3rem;padding: 0;margin: 0;
        height: 3rem;
        z-index: 5;
        right: -3.5rem;
        background-color: #00000044;
        border: #0000006b solid 0.2px;
        display: flex;
        position: absolute;
    }
    .rowlectoor{
        transform: translateX(-100%);
        gap: 0;
        min-height: 0;
    }
    .getuplol{
        transform: translateX(0%);
    }
    .getuplol .summoner{
        transform: rotate(220deg);
    }
    .summoner:hover {
        margin: 0;
        scale: 1;
    }
}