* {
    transition: 0.2s all;
}
body{
    background-image: url(index.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;flex-direction: column;
    justify-content: center;align-items: center;
    font-family: "Madimi One", sans-serif;
    color: black;
    
}
.container {
    display: flex;flex-direction: column;
    justify-content: center;align-items: center;
    width: 57%;
    border-radius: 12px;
    background-color: white;
    margin-top: 10rem;
}
hr {
    width: 55%;
}
.heading {
    text-align: center;
    font-size: 4rem;
    color: black;
    background-color: white;
}
.para {
    padding: 5px 30px;
}
@media (max-width: 720px) {
    .container{
        width: 80%;
    }
}