:root {
    --iconAccent: #978E75;
    --rightSize: 40rem;
    --formBigText: 2rem;
    --formSmallText: 1.5rem;
}
*{
    font-family: sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(https://lets.linkpc.net/icons/1.jpg);
    backdrop-filter: blur(3rem) brightness(50%) saturate(20%);
    background-size: cover;
    background-position: center;
    position: relative;
    transition: 0.5s all;
    overflow: hidden;
}
body:before{
    content: '';
    width: 30rem;
    height: 30rem;
    border-radius: 100%;
    filter: blur(5rem);
    background-color: var(--iconAccent);
    z-index: -1;
    position: absolute;
    top: -10%;
    left: -3%;
    opacity: 50%;
    transition: 0.5s all;
}
body:after{
    content: '';
    width: 40rem;
    height: 40rem;
    border-radius: 100%;
    filter: blur(5rem);
    background-color: var(--iconAccent);
    z-index: -1;
    position: absolute;
    right: 0;
    opacity: 50%;
    transition: 0.5s all;
}
#bodyContainer{
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    overflow: hidden;
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
#sectionSliders{
    display: none;
}
button{
    transition: 0.2s all;
}
#leftContainer{
    background-color: rgba(0, 0, 0, 0.39);
    border-radius: 25px;
    color: white;
}
#playingInfo{
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    padding: 2.7rem;
}
#playingIcon{
    border-radius: 30px;
    width: 27rem;
    filter: brightness(100%);
    transition: 0.5s all, 1s transform;
}
#playingText{
    align-items: start;
    justify-content: center;
    width: 100%;
    transition: 1s all;
}
#playingText strong{
    font-size: 3rem;
}
#playingText span{
    font-size: 2rem;
}
#ptSinger, #ptTitle{
    transition: 1s all;
}
#playingControls{
    width: 100%;
    justify-content: space-between;
}
#playingControls button{
    width: 4rem;
    height: 4rem;
    border: none;
    background-color: rgba(0, 0, 0, 0.301);
    border-radius: 25px;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}
.buttonOff{
    display: none;
}
#playingSeekBar{
    font-size: 1.25rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}


audio {
    width: 100%;
    height: 2rem;
}
audio::-webkit-media-controls-panel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
audio::-webkit-media-controls-enclosure {
    background: none;
    display: flex;
    align-items: center;
}
audio::-webkit-media-controls-mute-button{
    -webkit-appearance: media-mute-button;
    display: none;
}
audio::-webkit-media-controls-play-button{
    display: none;
}
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display{
    -webkit-appearance: media-current-time-display;
    -webkit-user-select: none;
    flex: none;
    display: flex;
    font-size: 1rem;
    color: white;
    text-shadow: none;
    position: absolute;
    z-index: 2;
}
audio::-webkit-media-controls-current-time-display{
    left: 0;
}
audio::-webkit-media-controls-time-remaining-display{
    /* position: absolute; */
    right: 0;
}
audio::-webkit-media-controls-timeline{
    display: flex;
    justify-content: center;
    background-color: transparent;
    min-width: 75%;
    border-radius: 10px;
    margin-left: 1.5rem;
}
audio::-webkit-media-controls-volume-slider{
    display: none;
}
audio::-webkit-media-controls-fullscreen-button{
    -webkit-appearance: media-enter-fullscreen-button;
    display: none;
}
audio::-webkit-media-controls-toggle-closed-captions-button {
    display: none;
}
audio::-webkit-media-controls-fullscreen-volume-slider{
    display: none;
}
audio::-webkit-media-controls-fullscreen-volume-min-button{
    display: none;
}
audio::-webkit-media-controls-fullscreen-volume-max-button{
    display: none;
}
#rightContainer{
    width: var(--rightSize);
    align-items: start;
    justify-content: center;
    overflow: hidden;
}
#rcont{
    width: calc(var(--rightSize)*3);
    opacity: 90%;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s all;
}
.rcontmain{
    width: var(--rightSize);
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.39);
    border-radius: 25px;
    color: white;
    overflow: hidden;
}
.songAlbum{
    justify-content: space-between;
    gap: 1rem;
}
#songList{
    width: 100%;
    gap: 0.5rem;
    padding: 0;
    max-height: calc(5 * (5rem + 0.4rem + 0.4rem));
    overflow: scroll;
    scroll-snap-type: y mandatory;
}
#songList::-webkit-scrollbar{
    width: 0;
    height: 0;
}
.songItem{
    gap: 0.5rem;
    background-color: rgba(0, 0, 0, 0.39);
    border-radius: 5px;
    padding: 0.2rem;
    transition: 0.3s all;
    cursor: pointer;
    scroll-snap-align: start;
}
.songNow{
    background-color: var(--iconAccent);
}
.songItem:hover{
    background-color: var(--iconAccent);
}
.songText, .songText div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
}
.songAvatar{
    width: 5rem;
    height: 5rem;
    border-radius: 5px 0 0 5px;
    filter: saturate(50%);
}
.songUp{
    justify-content: space-between;
}
.songID,.songUploader{
    padding-right: 0.4rem;
}
.songVert{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    padding: 0.2rem;
    text-align: center;
}


#uploadForm{
    align-items: center;
    gap: 0.5rem;
    font-size: var(--formBigText);
    padding: 0.2rem;
}
label{
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
input{
    background: var(--iconAccent);
    border: none;
    height: 2rem;
    width: 20rem;
    font-size: var(--formSmallText);
    border-radius: 10px;
    padding: 0.3rem;
    color: white;
}
input::placeholder{
    text-align: center;
    color: white;
    font-size: var(--formSmallText);
}
label[for="avatarIP"],label[for="accentIP"]{
    background-color: var(--iconAccent);
    border-radius: 10px;
    padding: 0.3rem;
    height: 2rem;
    width: 20rem;
    font-size: var(--formSmallText);
}
input[type="file"], input[type="color"]{
    display: none;
}
input[type="submit"],input[type="button"]{
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 0.5rem;
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
    display: none;
}

#buttons{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#buttons button{
    background-color: rgba(0, 0, 0, 0.39);
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    color: var(--iconAccent);
}
#buttons button:hover,#playingControls button:hover, #sectionSliders button:hover{
    background-color: rgba(0, 0, 0, 0.568);
}

@media (max-width:1920px){}
@media (max-width:720px) {
    :root{
        --rightSize: 100vw;
        --formBigText: 2rem;
        --formSmallText: 1.5rem;
    }
    body{
        flex-direction: column-reverse;
        align-items: center;
        overflow: hidden;
        height: 100svh;
        width: 100svw;
        justify-content: space-between;
        gap: 0;
        padding: 0;
        margin: 0;
    }
    body:before{
        width: 15rem;
        height: 15rem;
        filter: blur(3rem);
        top: -10%;
        left: -10%;
    }
    body:after{
        width: 15rem;
        height: 15rem;
        filter: blur(2rem);
        bottom: -10%;
    }
    #playingInfo{
        width: 100svw;
        height: 100svh;
        padding: 0;
        overflow: visible;
    }
    #playingIcon{
        width: 75%;
    }
    #playingText{
        display: flex;
        flex-direction: row;
        width: auto;
        gap: 0.5rem;
    }
    #playingText strong{
        font-size: 3rem;
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
    #playingText span{
        font-size: 1rem;
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
    #playingControls{
        z-index: 3;
        justify-content: center;
        bottom: 0;
        gap: 0;
        transition: 1s all;
    }
    #playingControls button{
        width: 100%;
        height: 6rem;
        font-size: 2.2rem;
        border-radius: 0;
    }
    audio::-webkit-media-controls-current-time-display,
    audio::-webkit-media-controls-time-remaining-display{
        font-size: 1.1rem;
    }
    audio::-webkit-media-controls-timeline{
        margin-left: 1.8rem;
    }
    .songText, .songText div{
        font-size: 1rem;
    }
    #sectionSliders, #buttons{
        display: flex;
        flex-direction: row;
        gap: 0;
        height: 5rem;
        width: 100%;
    }
    #sectionSliders button,#buttons button{
        width: 100%;
        height: 5rem;
        font-size: 2.2rem;
        /* border: none; */
        color: var(--iconAccent);
        background-color: rgba(0, 0, 0, 0.39);
        border: none;
        border-radius: 0;
    }
    .rcontmain{
        height: 100vh;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .songAlbum{
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }
    #songList{
        width: 100%;
        gap: 0.5rem;
        height: calc(6 * (5rem + 0.45rem + 0.4rem));
        max-height: calc(8 * (5rem + 0.45rem + 0.4rem));
        overflow: scroll;
        scroll-snap-type: y mandatory;
    }
    #uploadForm{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    #leftContainer{
        width: 100vw;
        position: absolute;
        /* position: absolute; */
        border-radius: 0;
        justify-content: center;
        background: none;
        align-items: center;
        z-index: -1;
    }
    #rightContainer{
        width: 100vw;
        /* width: 0; */
    }
    #sectionSliders{
        z-index: 2;
    }
    #rightContainer,#leftContainer,#buttons{
        transition: 1s all;
        overflow: hidden;
    }
}