:root {
    --iconAccent: #978E75;
}
*{
    font-family: sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url(https://lets.linkpc.net/icons/1.jpg);
    backdrop-filter: blur(3rem) brightness(50%) saturate(20%);
    background-size: cover;
    background-position: center;
    position: relative;
    transition: 0.5s all;
    overflow: hidden;
}
body:before{
    content: '';
    width: 30rem;
    height: 30rem;
    border-radius: 100%;
    filter: blur(5rem);
    background-color: var(--iconAccent);
    z-index: -1;
    position: absolute;
    top: -10%;
    left: -3%;
    opacity: 50%;
    transition: 0.5s all;
}
body:after{
    content: '';
    width: 40rem;
    height: 40rem;
    border-radius: 100%;
    filter: blur(5rem);
    background-color: var(--iconAccent);
    z-index: -1;
    position: absolute;
    right: 0;
    opacity: 50%;
    transition: 0.5s all;
}
#sectionOne{
    display: none;
}
#bodyContainer{
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
#leftContainer{
    background-color: rgba(0, 0, 0, 0.39);
    height: 100%;
    justify-content: center;
    color: white;
}
#playingInfo{
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    height: 100%;
    position: relative;
    padding: 2.7rem;
}
#playingIcon{
    border-radius: 30px;
    width: 27rem;
    filter: brightness(100%);
    transition: 0.1s all, 0.5s transform;
}
#playingText{
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 5rem;
    transition: 1s all;
}
#playingText strong{
    font-size: 3rem;
}
#playingText span{
    font-size: 2rem;
}
#ptSinger, #ptTitle{
    transition: 0.5s all;
}
.fade1{
    animation: fade1 0.3s forwards;
}
@keyframes fade1 {
    0%{
        color: var(--iconAccent);
    }
    50%{
        /* margin-right: 2rem; */
        font-size: 2rem;
        opacity: 0%;
        color: var(--iconAccent);
    }
    90%{
        color: var(--iconAccent);
    }
    100%{
        opacity: 100%;
    }
}
.fade2{
    animation: fade2 0.3s forwards;
}
@keyframes fade2 {
    0%{
        color: var(--iconAccent);
    }
    50%{
        /* margin-right: 0.5rem; */
        font-size: 1.4rem;
        opacity: 0%;
        color: var(--iconAccent);
    }
    90%{
        color: var(--iconAccent);
    }
    100%{
        opacity: 100%;
    }
}
#audioDiv{
    position: absolute;
    width: 100%;
    bottom: 0;
    justify-content: center;
    align-items: center;
}
#playingControls{
    width: 100%;
    justify-content: space-between;
    border-radius: 25px;
    height: 5rem;
}
#playingControls button,#sectionOne{
    width: 100%;
    height: 5rem;
    border: none;
    background: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s opacity, 0.2s bottom;
    transition: 0.2s all;
    overflow: hidden;
}
#playingControls button:hover,#sectionOne:hover,.audioC:nth-child(1) button:hover{
    background-color: rgba(0, 0, 0, 0.568);
    color: var(--iconAccent);
}
#playingSeekBar{
    font-size: 1.25rem;
    width: 100%;
    align-items: center;
    justify-content: end;
    height: 5rem;
    overflow: hidden;
}
#mutebutton{
    cursor: pointer;
}
#audioB{
    /* padding: 1rem; */
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.audioC{
    transition: 0.7s opacity;
    height: 5rem;
    opacity: 0%;
}
.audioC:nth-child(1){
    justify-content: start;
    align-items: center;
    display: flex;
    width: 100%;
}
.audioC:nth-child(1) button{
    width: 20%;
    height: 5rem;
    border: none;
    background: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.audioC:nth-child(1) button:nth-child(3){
    color: var(--iconAccent);
}
.audioC:nth-child(1) button::after, #playingControls button::after{
    position: absolute;
    left: -100%;
    transform: rotateZ(45deg);
    opacity: 0%;
    transition: 0.2s opacity, 0.3s left, 0.5s font-size, 0.7s transform;
    font-size: 0.5rem;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    height: 100%;
}
.audioC:nth-child(1) button:nth-child(1):after{
    content: 'Shuffle';
}
.audioC:nth-child(1) button:nth-child(2):after{
    content: 'Repeat';
}
.audioC:nth-child(1) button:nth-child(3):after{
    content: 'AutoPlay';
}
#playingControls button:nth-child(1):after{
    content: 'More';
}
#playingControls button:nth-child(2):after{
    content: 'Prev';
}
#playingControls button:nth-child(3):after{
    content: 'Play';
}
#playingControls button:nth-child(4):after{
    content: 'Next';
}
#playingControls button:nth-child(5):after{
    content: 'Volume';
}
.audioC:nth-child(1) button:hover::after, #playingControls button:hover:after{
    opacity: 100%;
    left: 10%;
    font-size: 1rem;
    transition: 0.2s opacity, 0.3s left, 0.5s font-size, 0.7s transform;
    transform: rotateZ(0deg);
}
.audioC:nth-child(2){
    width: 82%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    gap: 1rem;
}
.audioC:nth-child(3){
    width: 82%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    gap: 1rem;
}
.audioD1{
    transform: translateY(100%);
}
.audioD2{
    transform: translateY(0%);
}
.audioD3{
    transform: translateY(-100%);
}
.audioO{
    opacity: 100%;
}
.input[type='range'] {
    border-radius: 20px;
    overflow: hidden;
    height: 1.5rem;
    width: 80%;
    -webkit-appearance: none;
    background-color: rgba(0, 0, 0, 0.39);
}
.input[type='range']::-webkit-slider-runnable-track {
    height: 100%;
    -webkit-appearance: none;
}
.input[type='range']::-webkit-slider-thumb {
    width: 1.5rem;
    border: 0.5rem #ffffff solid;
    -webkit-appearance: none;
    height: 1.5rem;
    cursor: pointer;
    background: var(--iconAccent);
    border-radius: 20px;
    transition: 0.1s all;
    box-shadow: -20rem -15rem 13rem 15rem var(--iconAccent);
}
audio{
    display: none;
}
#rcont{
    width: 100%;
    height: 100%;
    justify-content: start;
    transition: 0.5s all;
}
.rcontmain{
    background-color: rgba(0, 0, 0, 0.39);
    color: white;
    overflow: hidden;
}
.songAlbum{
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: start;
}
#songList{
    font-size: 5rem;
    width: 100%;
    gap: 0.5rem;
    padding: 1rem;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    align-items: center;
    margin-top: 1%;
    height: 96%;
}
#songList button{
    font-size: 5rem;
}
#songList::-webkit-scrollbar{
    width: 0;
    height: 0;
}
.songItem{
    gap: 0.5rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.39);
    border-radius: 5px;
    padding: 0.2rem;
    transition: 0.3s all;
    cursor: pointer;
    scroll-snap-align: start;
}
.songNow{
    background-color: var(--iconAccent);
}
.songItem:hover{
    background-color: var(--iconAccent);
}
.songText, .songText div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
}
.songAvatar{
    width: 5rem;
    height: 5rem;
    border-radius: 5px 0 0 5px;
    filter: saturate(50%);
}
.songUp{
    justify-content: space-between;
}
.songID,.songUploader{
    padding-right: 0.4rem;
}
.songVert{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    padding: 0 1rem 0 0;
    text-align: center;
    height: 100%;
}

@media (max-width:1920px){}
@media (max-width:1000px) {
    :root{
        --rightSize: 100vw;
    }
    body{
        height: 100svh;
        width: 100svw;
    }
    body:before{
        width: 15rem;
        height: 15rem;
        filter: blur(3rem);
        top: -10%;
        left: -10%;
    }
    body:after{
        width: 15rem;
        height: 15rem;
        filter: blur(2rem);
        bottom: -10%;
    }
    #sectionOne{
        display: block;
    }
    #playingInfo{
        padding: 0;
        overflow: visible;
        flex-direction: row;
    }
    #playingIcon{
        width: 75%;
    }
    #playingText{
        display: flex;
        flex-direction: row;
        width: 5.5rem;
        height: 70%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    #playingText strong{
        font-size: 3rem;
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
    #playingText span{
        font-size: 1rem;
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
    @keyframes fade2 {
        0%{
            color: var(--iconAccent);
        }
        50%{
            /* margin-right: 0.5rem; */
            font-size: 0.4rem;
            opacity: 0%;
            color: var(--iconAccent);
        }
        90%{
            color: var(--iconAccent);
        }
        100%{
            opacity: 100%;
        }
    }
    #audioDiv{
        position: static;
        background-color: rgba(0, 0, 0, 0.39);
    }
    #playingControls button{
        height: 6rem;
        font-size: 1.7rem;
    }
    .audioC:nth-child(1) button{
        width: 25%;
    }
    #sectionOne{
        width: 20%;
    }
    #playingSeekBar{
        width: 100%;
    }
    #audioB{
        width: 80%;
        /* border: 1px white solid; */
    }
    audio::-webkit-media-controls-current-time-display,
    audio::-webkit-media-controls-time-remaining-display{
        font-size: 1rem;
    }
    audio::-webkit-media-controls-timeline{
        margin-left: 1.8rem;
    }
    .songText, .songText div{
        font-size: 1rem;
    }
    #leftContainer{
        width: 100vw;
        overflow: hidden;
    }
    #rcont{
        width: 200vw;
        transition: 0.75s all;
    }
    .songAlbum{
        width: 100vw;
        padding-top: 1rem;
    }
    #songList{
        height: 95.5%;
    }
    .songItem{
        transform: translateX(50%);
    }
    .songItem:last-child{
        margin-bottom: 1rem;
    }
}
