body{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
	background: linear-gradient(45deg,#25162b, #151B20,#25162b);
    overflow: hidden;
    padding: 0;margin: 0;
    transition: 1s width;
}
#start {
    color: #34434F;font-size: 3rem;
    border: 1rem rgba(0, 0, 0, 0.144) solid;
    padding: 2rem;
	color: #919191;background-color: rgb(25, 25, 36);
    cursor: pointer;
    transition: 0.4s all;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
#start:hover {
    transform: scale(1.01);
}
.scroll{
    width: 100vw;
}
.summonedthingie{
    color: #34434F;font-size: 3rem;
    border: 0.5rem rgba(0, 0, 0, 0.144) solid;
    padding: 0.5rem;
    margin-bottom: 1rem;
	color: #919191;background-color: rgb(25, 25, 36);
    transition: 0.4s all;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    display: none;
}
.calculator {
    padding: 10px;
    max-width: 25rem;
    filter: drop-shadow(3px 3px 10px #181A22);
    background-color: rgba(0, 0, 0, 0.144);
}
.screen {
    width: 23.8rem;height: 6rem;
    background-color: #11151a;color: #919191;
    font-size: 3.5rem;
    text-align: right;
    padding: 0 10px;
    margin-bottom: 1px;
    border: none;
    pointer-events: none;
}
.container {
    display: flex;flex-direction: column;
    gap: 0.3rem;
}
.home{
    display: flex;align-items: center; justify-content: center;
    width: 100vw;transition: 1s all;
}
.main{
    display: none;
}
.disp{
    display: flex;align-items: center; justify-content: center;
    width: 100vw;transition: 1s all;
}
.button{
    font-size: 3rem;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
	color: #919191;background-color: #191924;
    cursor: pointer;
    padding: 0;margin: 0;
    width: 6rem;height: 6rem;
    transition: 0.1s all;
    border: 1px black;
}
.row {
    gap: 0.3rem;
    display: flex;
    align-content: stretch;justify-content: space-between;
}
.double{
    width: 50%;
}
.triple{
    width: 75%;
}
.button:last-child {
    background-color: #1A1A24;
}
.button:hover {
    background-color: #0b0f11;
}
.button:active {
    background-color: #17191a;
}

@media (max-width:740px){
    .home{
        display: none;
    }
    .summonedthingie{
        display: block;
    }
    .main{
        display: flex;align-items: center; justify-content: center;
        width: 100vw;transition: 1s all;
        margin-bottom: 3rem;
    }
    body{
        display: flex;flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;height: 100vh;
    }
}