* {
    /* border: 1px solid white; */
}
* {
    color: white;
    font-family: "Madimi One", sans-serif;
}
body {
    display: flex;align-items: center;justify-content: center;
    height: 98vh;
    background: linear-gradient(45deg,#25162b, #151B20,#25162b);
}
#chatscreen {
    display: flex;flex-direction: column;
    align-items: center;justify-content: space-between;
    height: 50rem;border-radius: 20px;
    max-width: 32rem;
    background-color: rgba(88, 88, 88, 0.267);
}
#profile {
    height: 4rem;width: 30rem;
    border-radius: 20px;
    background-color: rgba(27, 27, 27, 0.267);
    margin: 0 0.5rem;display: flex;padding: 0.3rem 0;
    align-items: center;justify-content: space-between;
}
#profile img {
    height: 100%;border-radius: 50%;
    margin: 0 1rem;
}
#messages, .cont {
    margin: 0.5rem 0.3rem;
    min-height: 20rem;max-height: 50rem;min-width: 20rem;max-width: 32rem;
    display: flex;flex-direction: column;
    overflow-y: auto;overflow-x: hidden;
    gap: 0.5rem;
}
span {
    padding: 0.4rem 0.8rem;
    border-radius: 20px;
    min-width: 5%;
    max-width: 100%;
    font-size: 1.3rem;
}
.right {
    width: 100%; display: flex;justify-content: end;
}
.righttext {
    background-color: rgba(0, 0, 0, 0.137);
    text-align: right;max-width: 80%;overflow: hidden;
}
.left {
    width: 100%; display: flex;justify-content: start;
}
.lefttext {
    background-color: rgba(0, 0, 0, 0.404);
    text-align: left;max-width: 80%;overflow: hidden;
}
#input {
    border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;
    background-color: rgba(0, 0, 0, 0.397);
    display: flex;width: 100%;justify-content: space-between;
}
#inputmessage {
    border: none;font-size: 1.3rem;
    background-color: rgb(163, 163, 163);
    margin: 0.5rem 0.2rem 0.5rem 0.5rem;padding: 0 0.8rem;
    height: 2.5rem;width: 100%;
    border-radius: 20px;
    color: black;
}
#send1, #send2 {
    border: none;
    width: 3rem;height: 2.5rem;
    margin: 0.5rem 0.5rem 0.5rem 0.2rem;padding: 0.8rem;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
}
#send1 {
    background-color: rgba(0, 0, 0, 0.404);
}
#send2 {
    background-color: rgba(0, 0, 0, 0.137);
}