.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.829) 0%,
    rgb(0, 0, 0) 100%
  );
  transition: 1s all;
}

.symbol {
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: float 5s infinite linear, rotate3d 5s infinite linear;
}

.symbol[style*="font-weight: bold"] {
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

@keyframes float {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(
      calc(200px * var(--direction-x)),
      calc(200px * var(--direction-y)),
      calc(200px * var(--direction-z))
    );
  }
}

@keyframes rotate3d {
  0% {
    transform: rotate3d(1, 1, 1, 0deg);
  }
  100% {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}
