body {
    margin: 0;
}
.headmaster{
    position: absolute!important;
    top: 0;
    width: 100%;
    background-color: rgba(121, 121, 121, 0.322);
    mix-blend-mode: luminosity;
    justify-content: center;
}
.navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    border-radius: 12px;
    align-items: center;
    justify-content: space-evenly;
}
.main-item{
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.438);
    padding:  10px;
    margin: 0;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: "Madimi One", sans-serif;
    color: white !important;
    font-size: 1.2rem;
    transition: 0.1s all;
}.main-pic{
    padding:  0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: "Madimi One", sans-serif;
    transition: 0.1s all;
    border-radius: 50%;
}
.main-item:hover, .main-pic:hover {
    transform: scale(1.05);
}
#navavatar {
    border: 0.5rem rgba(0, 0, 0, 0.438) solid;
    cursor: pointer;
    
}
.aligner {

    display: flex;flex-direction: column;
    align-items: center;justify-content: center;
    position: relative;
}
.hidden {
    position: absolute;
    gap: 0;
    display: none;
}
.shown {
    display: flex;flex-direction: column;
    gap: 0.15rem;
    transform: translateY(7rem);
}
.hidden-item {
    cursor: pointer;
    border: none;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.63);
    color: white;
    padding: 10px;
    font-size: 1.1rem;
    font-family: "Madimi One", sans-serif;
    transition: 0.2s all;
}
.hidden-item:hover {
    margin: 0.5rem 0;
    
}
@media (max-width: 500px) {
.shown {
    margin-right: 1.5rem;
}
}