* {
    font-family: "Madimi One", sans-serif;
}
body {
    background-image: url(signup.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;flex-direction: column;
    align-items: center;justify-content: center;
    height: 100vh;
}
.register-box{
    text-align: center;
    width: 25rem;
    background-color: rgba(0, 0, 0, 0.438);
    padding:  10px;
    border-radius: 12px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    justify-content: center;
    font-family: "Madimi One", sans-serif;
}
#hr-signup{
        width: 80%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.438);
        margin: 25px;
}
.formtag {
    display: flex;flex-direction: column;
    align-items: center;justify-content: center;
    gap: 0.5rem;
}
.inpfield{
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    width: 60%;
    height: 2rem;
    font-family: "Madimi One", sans-serif;
    font-size: medium !important;
}
#BtnSignup {
    cursor: pointer;
    width: 25%;
    height: 2.2rem;
    margin-bottom: 1rem;
    text-align: center;
}
@media (max-width: 720px) {
    .register-box{
        width: 20rem;
    }
    .formtag {
        gap: 0;
    }
}