
* {
  user-select: none;}

  body {
  font-family: "Madimi One", sans-serif;font-size: 2rem;
  height: 100vh;overflow: hidden;
  display: flex;flex-direction: column;
  margin: 0;
  align-items: center;justify-content: center;
  background: linear-gradient(45deg,#25162b, #151B20,#25162b);
  }
button {
  font-size: 2rem;color: black;background-color: #2A2139;
  width: 13rem;height: 4rem;
  border-radius: 30px;
  cursor: pointer;border: rgba(61, 1, 61, 0.356) 1px solid;
  transition: all 0.2s;
  font-weight: bold;
}
button:hover {
  margin: 0px 10px 0px 10px;
  scale: 1.05;
}
.lbl {
  display: flex;flex-direction: column;
  margin-top: 2rem;
}
.inp {
  position: relative;
  display: flex;flex-direction: row;
  justify-content: space-between;
}
input  {
  background-color: black;
  border: none;border-radius: 10px;
  padding-left: 0.75rem;
  color: rgb(104, 104, 104);
  font-family: "Madimi One", sans-serif;font-size: 1.5rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
        margin-right: 0.725rem; scale: 1.25;
        cursor: pointer;opacity: 0%;
      }
.submitbtn {
  font-size: 1rem;color: black;
  width: 9rem;height: 2.5rem;
  border-radius: 30px;
  cursor: pointer;border: rgba(61, 1, 61, 0.356) 1px solid;
  transition: all 0.2s;
  margin: 0;margin-left: 0.1rem;
}


.inp:after,
.inp:before {
  left: 15.85rem;
  border: #2a1433 0.1rem solid;
  position: absolute;text-align: center;
  font-size: 1rem;
  width: 1.25rem;height: 1.25rem;
  pointer-events: none;
  background: #fff;
}

.inp:after {
  color: black;
  content: "\25B2";
  background-color:#25162b;
}

.inp:before {
  margin-top: 1.25rem;
  color: black;
  content: "\25BC";
   background-color:#25162b;
}
@media (max-width:700px){
  .container {
    display: flex;flex-direction: column;
    gap: 0.5rem;
  }
  button{
    font-size: 1.25rem;
    width: 9rem;height: 3rem;
  }
  .lbl{
    font-size: 1.5rem;
    text-align: center;
  }
  .inp{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .inp:after,
  .inp:before {
    display: none;
  }
  .submitbtn{
    font-size: 1.2rem;
    width: auto;
  }
}